
<ul>
	<% @contents.each do |file| %>
		<li><a href ="<%= file%>"><%= file%></a>
		<a href = "<%= file%>/edit"> Edit </a>
			<form class="inline" action="/<%=file%>/delete" method="post">
				<button type="submit">Delete</button>
			</form>
		</li>
	<%end %>

</ul>

<a href="/document/new"> New Document </a>


<p class="userbar">Signed in as <%=session[:username]%></p>
<form class="inline" action="/users/signout" method="post">
	<button type="submit"> Sign out </button>
</form>